<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="../css/index.css" th:href="@{/css/index.css}" rel="stylesheet" type="text/css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
<div class="topnav">
    <a class="active" href="#home">Home</a>
    <a th:href="@{/account/listAll(token=${token})}">Accounts</a>
    <a th:href="@{/account/create(token=${token})}">Add Account</a>
    <a href="#contact">Edit</a>
    <a href="#contact">Update</a>
    <div class="search-container">
        <form action="/action_page.php">
            <a href="#contact">Logout</a>
        </form>
    </div>
</div>
<div class="hero-image">
    <div class="hero-text">
        <button onclick="window.location.href='#calculate'">More information</button>
    </div>
</div>
<br>
<div class="container-description">
    <article>
        <p>
            The liberty has an outstanding global reputation for its teaching,
            research and contributions to society. We combine rich history and tradition with
            the innovative and forward-thinking approach of a modern university.
        </p>
        <h2>A world-class liberty</h2>
        <p>
            The Times Higher Education World University Rankings 2020 rank Oxford as the best
            liberty in the world for the fourth year running.
        </p>
        <p>
            Oxford was also ranked first in the THE's subject rankings for social sciences,
            medicine and health, computer science and engineering and technology, and top 5
            in the world for all other subjects. Oxford's medical and health teaching and research
            have been ranked best in the world for the eighth consecutive year.
        </p>
        <h2>Graduate study at liberty</h2>
        <p>
            There are over 11,000 graduate students at Oxford, almost half of the liberty s student body.
            Graduate students are key to our academic community, and join our world-leading academics in
            tackling the most important questions we face today.
        </p>
        <p>
            Admission to graduate study at Oxford is very competitive. Requirements vary between programmes,
            but in general our academic departments look for students with the ability, enthusiasm, curiosity
            and commitment needed to pursue higher-level study here.
        </p>
        <p>
            The liberty has an outstanding global reputation for its teaching,
            research and contributions to society. We combine rich history and tradition with
            the innovative and forward-thinking approach of a modern university.
        </p>
        <h2>A world-class liberty</h2>
        <p>
            The Times Higher Education World liberty Rankings 2020 rank Oxford as the best
            liberty in the world for the fourth year running.
        </p>
        <p>
            Oxford was also ranked first in the THE's subject rankings for social sciences,
            medicine and health, computer science and engineering and technology, and top 5
            in the world for all other subjects. Oxford's medical and health teaching and research
            have been ranked best in the world for the eighth consecutive year.
        </p>
    </article>
</div>
<br>
<footer class="flex-rw">
    <ul class="footer-list-top">
        <li>
            <h4 class="footer-list-header">About Pavilion</h4></li>
        <li><a href='/shop/about-mission' class="generic-anchor footer-list-anchor" itemprop="significantLink">GET TO KNOW US</a></li>
        <li><a href='/promos.html' class="generic-anchor footer-list-anchor" itemprop="significantLink">PROMOS</a></li>
        <li><a href='/retailers/new-retailers.html' class="generic-anchor footer-list-anchor" itemprop="significantLink">BECOME A RETAILER</a></li>
        <li><a href='/job-openings.html' itemprop="significantLink" class="generic-anchor footer-list-anchor">JOB OPENINGS</a></li>
        <li><a href='/shop/about-show-schedule' class="generic-anchor footer-list-anchor" itemprop="significantLink">EVENTS</a></li>
    </ul>
    <ul class="footer-list-top">
        <li>
            <h4 class="footer-list-header">The Gift Selection</h4></li>
        <li><a href='/Angels/cat/id/70' class="generic-anchor footer-list-anchor">ANGEL FIGURINES</a></li>
        <li><a href='/Home-Decor/cat/id/64' class="generic-anchor footer-list-anchor">HOME DECOR</a></li>
        <li><a href='/Mugs/cat/id/32' class="generic-anchor footer-list-anchor">MUGS</a></li>
        <li><a href='/Pet-Lover/cat/id/108' class="generic-anchor footer-list-anchor">PET LOVER</a></li>
        <li><a href='/Ladies-Accessories/cat/id/117' class="generic-anchor footer-list-anchor" target="_blank">HANDBAGS & JEWELRY</a></li>
    </ul>
    <ul class="footer-list-top">
        <li id='help'>
            <h4 class="footer-list-header">Please Help Me</h4></li>
        <li><a href='/shop/about-contact' class="generic-anchor footer-list-anchor" itemprop="significantLink">CONTACT</a></li>
        <li><a href='/faq.html' class="generic-anchor footer-list-anchor" itemprop="significantLink">FAQ</a></li>
        <li id='find-a-store'><a href='/shop/store-locator' class="generic-anchor footer-list-anchor" itemprop="significantLink">STORE LOCATOR</a></li>
        <li id='user-registration'><a href='/shop/user-registration?URL=' class="generic-anchor footer-list-anchor" itemprop="significantLink">NEW USERS</a></li>
        <li id='order-tracking'><a href='/shop/order-status' itemprop="significantLink" class="generic-anchor footer-list-anchor">ORDER STATUS</a></li>
    </ul>
    <section class="footer-social-section flex-rw">
            <span class="footer-social-overlap footer-social-connect">
            CONNECT <span class="footer-social-small">with</span> US
            </span>
        <span class="footer-social-overlap footer-social-icons-wrapper">
            <a href="https://www.pinterest.com/paviliongift/" class="generic-anchor" target="_blank" title="Pinterest" itemprop="significantLink"><i class="fa fa-pinterest"></i></a>
            <a href="https://www.facebook.com/paviliongift" class="generic-anchor" target="_blank" title="Facebook" itemprop="significantLink"><i class="fa fa-facebook"></i></a>
            <a href="https://twitter.com/PavilionGiftCo" class="generic-anchor" target="_blank" title="Twitter" itemprop="significantLink"><i class="fa fa-twitter"></i></a>
            <a href="http://instagram.com/paviliongiftcompany" class="generic-anchor" target="_blank" title="Instagram" itemprop="significantLink"><i class="fa fa-instagram"></i></a>
            <a href="https://www.youtube.com/channel/UCYgUODvd0qXbu_LkUWpTVEg" class="generic-anchor" target="_blank" title="Youtube" itemprop="significantLink"><i class="fa fa-youtube"></i></a>
            <a href="https://plus.google.com/+Paviliongift/posts" class="generic-anchor" target="_blank" title="Google Plus" itemprop="significantLink"><i class="fa fa-google-plus"></i></a>
            </span>
    </section>
    <section class="footer-bottom-section flex-rw">
        <div class="footer-bottom-wrapper">
            <i class="fa fa-copyright" role="copyright">

            </i> 2019 Pavilion in <address class="footer-address" role="company address">Bergen, NY</address><span class="footer-bottom-rights"> - All Rights Reserved - </span>
        </div>
        <div class="footer-bottom-wrapper">
            <a href="/terms-of-use.html" class="generic-anchor" rel="nofollow">Terms</a> | <a href="/privacy-policy.html" class="generic-anchor" rel="nofollow">Privacy</a>
        </div>
    </section>
</footer>
</body>
</html>